* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
body {
  background-color: #a29b78;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.skip-link {
  position: absolute;
  top: -43px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 1001;
}

.skip-link:focus {
  top: 0;
}
header {
  display: grid;
  grid-template-areas: "title title nav";
  align-items: center;
  background-color: #dad4b5;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.title {
  font-size: 1.3em;
  padding: 10px;
  grid-area: title;
  place-items: center;
  margin-left: 30px;
}
nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
}
nav ul {
  gap: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
nav ul li a:hover {
  background-color: #d4c267;
  font-weight: bold;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #dad4b5;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
#hamburger {
  display: none;
}
/* main */
main {
  display: grid;
  grid-template-areas:
    "hero hero hero"
    "explore explore explore"
    "restaurant restaurant restaurant";
}
.hero {
  grid-area: hero;
  width: 100%;
  height: 400px;
  background-image: url("../public/images/heros/hero-image_2-large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.hero-title,
.slogan {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.hero-title {
  font-weight: bold;
  font-size: 3em;
}
.explore {
  grid-area: explore;
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
#query{
  margin-left:1em;
  margin-top:5em;
  min-width: 44px;
  min-height: 44px;
}
.list-restaurant {
  grid-area: restaurant;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
  padding: 5px;
}
.card-resto {
  min-width: 310px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thumbnail {
  width: 100%;
  min-height: 300px;
  border-radius: 5px 5px 0 0;
}
.deskripsi__resto {
  font-size: 12px;
  text-align: justify;
  padding: 7px;;
}
.ratingKota {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.rating {
  font-size: 14px;
  background: linear-gradient(to bottom, #a29b78, #ffe355);
  color: black;
  padding: .25em .75em;
  border-radius: 1em;
}
.kota {
  font-weight: 500;
  font-size: 12px;
  color: grey;
  margin-right: 0.6em;
}
.nama__restaurant{
  padding: 5px;
  font-size: 1.2em;;
}
.link-detail{
  text-align: center;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  padding: 3px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, #a29b78, #ffe355);
}
/* Detail */
.detail{
  display: grid;
  grid-template-areas:
  "img img img img"
  "rate rate rate city"
  "name name name name"
  "address address address address"
  "describe describe describe describe"
  "food food drink drink"
  "csr csr csr csr";
  width: 100%;
  background-color: #dad4b5;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  padding: 0px 0px 0px;
}
.img__res{
  grid-area: img;
  object-fit: cover;
  max-height: 500px;
  min-height: 100px;
  min-width: 300px;
  border-radius: 15px 15px 0 0;
}
.restaurant-rating{
  grid-area: rate;
  margin-left: 10px;
}
.city__res{
  grid-area: city;
  font-weight: bold;
  margin-right: 10px;
}
.restaurant-name{
  grid-area: name;
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 10px;
}
.restaurant-address{
  grid-area: address;
  margin-left: 10px;
  
}
.restaurant-description{
  grid-area: describe;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em;
  text-align: justify;
  margin-bottom: 8px;
}
ul li{
  list-style: none;
}
.menu-list{
  grid-area: food;
  display: grid;
  justify-content: center;
}
.drink-list{
  grid-area: drink;
  display: grid;
  justify-content: center;
  margin-right: 10px;
}
.customer-reviews{
  text-align: center;
  grid-area: csr;
  display: grid;
  justify-content: center;
}
.coment, .date{
  font-size: 0.8em;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}
footer {
  margin-top: 10px;
  display: grid;
  grid-template-areas: "footer footer footer";
  min-width: 330px;
  height: 40px;
  background-color: #dad4b5;
}
footer > p {
  grid-area: footer;
  font-size: 14px;
  text-align: center;
  display: grid;
  align-items: center;
}

/* break Point */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    grid-template-areas: "title nav nav";
  }
  .title {
    margin-left: 20px;
  }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
  /* header */
  .hide {
    display: none;
  }
  nav {
    grid-template-columns: 1fr 0.3fr;
  }
  .title {
    margin-left: 10px;
  }
  #hamburger {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .sidebar {
    width: 50%;
  }

  /* main */
  .hero-title {
    font-size: 2em;
  }
  p {
    font-size: 0.8em;
  }
  .hero {
    height: 350px;
    background-image: url("../public/images/heros/hero-image_2-small.jpg");
  }
  .explore {
    font-size: 0.8em;
    font-weight: 100;
  }
  .detail{
    grid-template-areas:
    "img img img img"
    "rate rate rate city"
    "name name name name"
    "address address address address"
    "describe describe describe describe"
    "food food food food"
    "drink drink drink drink"
    "csr csr csr csr";
  }
}
